.parentLinkWrapper {
    margin: 0 calc((100% - 1300px) / 2); /* 폭 조절 */
    align-self: stretch;
    padding: 0 var(--padding-12xl) 7.4px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--nav-bar-text);
    font-family: var(--body-text);
    flex-direction: row;
    height: max-content;
    margin-top: 15px;
    border-bottom: 1px solid #937DC2;
}
.parentLinkChild{
    align-self: stretch;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    max-height: 10%;
}
.parentLink {
    display: flex;
    flex-direction: row; /* 가로 방향으로 자식 요소들을 나열 */
    justify-content: space-around; /* 자식 요소들 사이의 공간을 균등하게 분배 */
    align-items: center; /* 자식 요소들을 세로 축에서 중앙에 정렬 */
    overflow: hidden;
    max-width: 100%;
    max-height: 10%;

}
.iconItem{
    width: 200px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    /* border-top: 1px solid #937DC2; */

}

.icon{
    width: 30px;
    height: 30px;
}

.searchBox { /* 검색창 */ 
    width: 300px; 
    height: 30px; 
    margin-right: 30px;
    margin-left: 30px;
    border: 1px solid;
    border-color: #937DC2;

}

.mainLogo { /* 메인 로고 */
    width: 80px; 
    display: grid;
    align-items: center;
    border-right: 1px solid #97559f; /* 세로선 */
    margin-right: 0.2%;
    /* margin-left: 1%; */
    white-space: nowrap;
    cursor: pointer;
}

.MIML{ /* MIML */
    font-size: 22px;
    font-weight: bold;
    color: #937DC2;
}

.MusicIsMyLibrary { /* 로고 옆 MusicIsMyLibrary */ 
    flex: 1;
    white-space: pre-wrap;
    font-size: 13px;
}

/* Middle */
.Middle{
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-size: 18px;
    text-align: right;
    /* background-color: aqua; */
    float: left;
    
}


/* AI 이미지 ON, OFF 스위치 */

.switch {
    width: 60px;
    height: 24px;
    border-radius: 25px;
    background-color: #cccccc;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    align-items: space-between;
    z-index: inherit;
    position: relative;
    flex: 1;
}

.switch_in {
    width: 90%;
    /* height: 18px; */
    border-radius: 25px;
    display: flex;
    font-size: 10px;
    /* background-color: #97559f; */
    position: absolute;
}

.switch_out {
    width: 60px;
    height: 24px;
    border-radius: 25px;
    background-color: #97559f;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    align-items: space-between;
    z-index: inherit;
    position: relative;
    flex: 1;
    transition: background-color 0.3s ease; /* 애니메이션 효과 추가 */
}

.switch_out:hover {
    background-color: #663399; /* 버튼을 눌렀을 때 변경될 색상 */
}

.onoff_item {
    display: flex;
    color: #fff;
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #937DC2;
    transition: transform 0.3s ease;
}
  
.button.on {
    transform: translateX(33px);
    background-color: #937DC2;
}
  
.button.off {
    transform: translateX(-3px);
}